<template name="abuse">
    <div id="content" >
        <h1>Работа с&nbsp;обращениями</h1>

        <p>Ваши отзывы и&nbsp;предложения&nbsp;Вы можете передать в&nbsp;наш офис с&nbsp;инженером, исполнявшим работы,
            либо прислать нам на&nbsp;
        <nobr><a href="mailto:office@estp-nsk.ru">электронную почту</a></nobr>
        .</p>
        <p>В&nbsp;случае возникновения конфликтной ситуации, необходимо изложить ваши претензии в&nbsp;письменной форме
            на&nbsp;специальном бланке (предоставляется инженером по&nbsp;требованию). Желательно продублировать Ваши
            претензии в&nbsp;электронном письме.</p>

        <p>Срок рассмотрения обращений&nbsp;&mdash; 10&nbsp;рабочих дней (две календарные недели). После рассмотрения
            обращения, мы&nbsp;с&nbsp;Вами свяжемся для урегулирования сложившейся ситуации.</p>
    </div>
</template>