<template name="contacts">
    <div id="content">
        <h1>Контактная информация</h1>
        <table>
            <tr>
                <td>
                    <div id='map'>
                        <script type="text/javascript">
                            var map;

                            DG.then(function () {
                                map = DG.map('map', {
                                    center: [54.903688, 83.115460],
                                    zoom: 16
                                });
                                DG.marker([54.904688, 83.121270]).addTo(map).bindPopup('Единая Служба Технической Поддержки. ' + 'Проезд Садовый, д. 53, цоколь второго подъезда.');
                            });

                        </script>


                    </div>
                </td>
                <td id="info">
                    <ul>
                        <li>
                            <p>Пока до&nbsp;нас проблематично добраться на общественном транспорте, но&nbsp;если у&nbsp;Вас
                                все-таки возникло желание посетить наш офис&nbsp;&mdash; мы&nbsp;будем рады видеть
                                Вас.<br/>Наш офис находится по&nbsp;адресу: г. Новосибирск,
                            <nobr>пр-д Садовый д.&nbsp;53, цокольный этаж.</nobr>
                            <br/>Время работы: с&nbsp;8:00 до&nbsp;20:00, выходные: суббота и&nbsp;воскресенье.</p>
                        </li>
                        <li>
                            <p>В&nbsp;любом случае, если&nbsp;Вы находитесь в&nbsp;зоне обслуживания ЕСТП, мы&nbsp;сами
                                с&nbsp;радостью к&nbsp;Вам приедем.<br/>От&nbsp;Вас требуется всего лишь сообщить нам об&nbsp;этом
                                в&nbsp;любой день недели с&nbsp;8:00&ndash;20:00 по&nbsp;единому номеру телефона (383)
                                287&ndash;98&ndash;94.</p>
                        </li>
                        <li>
                            <p>Впрочем, Вы&nbsp;можете связаться с&nbsp;нами и&nbsp;по&nbsp;нашему электронному адресу
                                <a href="mailto:office@estp-nsk.ru">
                                    <nobr>office@estp-nsk.ru</nobr>
                                </a>.
                            </p>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <br/>
    </div>

</template>