<template name="contacts">

    <h1>Контактная информация</h1>
    <h2>Краткие выходные данные:</h2>
    <ul>
    <li>Единая Служба Технической Поддрежки обрабатывает Ваше обращение, будь
        то&nbsp;звонок, сообщение или электронное письмо;</li>
    <li>Инженеры согласовывают время визита и&nbsp;осуществляют выезд на&nbsp;указанный адрес, проводят бесплатную
        диагностику, озвучивают ориентировочную цену работ;</li>
    <li>Если с&nbsp;ценой&nbsp;Вы согласны&nbsp;&mdash; инженер приступает к&nbsp;работе;</li>
    <li>Некоторые виды работ выполняются исключительно в&nbsp;нашем сервисном центре. Обычно, такого рода работы
        занимают сутки;</li>
    <li>В&nbsp;ином случае, инженер обговаривает сроки до&nbsp;начала работ.</li>
    </ul>
    <p>&nbsp;</p>
    <p>
        <i class="tiny material-icons contact-list">query_builder</i><span>&nbsp;10:00&ndash;22:00</span><br/>
        <i class="tiny material-icons contact-list">phonelink_ring</i><span>&nbsp;<nobr>(383) 287&ndash;98&ndash;
        94
    </nobr></span><br/>
        <i class="tiny material-icons contact-list">email</i><span>&nbsp;<a href="mailto:office@estp-nsk
    .ru">office@estp-nsk.ru</a></span>
    </p>
</template>