<template name="home">
    <h1>Единая Служба Технической Поддержки</h1>

    <p>Мы&nbsp;предоставляем услуги <nobr><a href="/service">сервисного обслуживания</a></nobr> и&nbsp;<nobr><a
        href="/price">техническую поддержку</a></nobr> в&nbsp;зоне ответственности конечных пользователей, вне
    зависимости от&nbsp;провайдеров интернет и&nbsp;кабельного
    телевидения.</p>
    <p>Выездные инженеры работают с 10:00 до 22:00.</p>
    <p>Бесплатный выезд инженера осуществляется в&nbsp;следующие районы&nbsp;г. Новосибирска и&nbsp;области:</p>
    <ul>
        <li>Советский район (Верхняя зона, микрорайон Щ, Нижняя Ельцовка, Шлюз, ОбьГЭС);</li>
        <li>Новосибирская область: Бердск, Кольцово, Краснообск.</li>
    </ul>
    <p>По&nbsp;другим районам&nbsp;г. Новосибирска и&nbsp;области стоимость вызова согласовывается с&nbsp;диспетчером
        и/или инженером.</p>

    <p>Наши инженеры работают с&nbsp;операционными системами семейства Microsoft Windows, Mac&nbsp;OS (не&nbsp;ниже
        10.4). В&nbsp;виде исключения, мы&nbsp;можем попытаться Вам помочь с&nbsp;UNIX-образными системами на&nbsp;усмотрение
        инженера, но&nbsp;гарантия на&nbsp;такие услуги не&nbsp;распространяется.</p>
</template>