<head>
    <link rel="icon" href="/images/favicon.ico" type="image/ico">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./main.css"/>
    <meta http-equiv="content-type" content="text/css;charset=utf-8"/>
    <meta name="description"
          content="Единая Служба Технической Поддержки. Мы предоставляем услуги сервисного обслуживания и техническую поддержку в зоне ответственности конечных пользователей, вне зависимости от провайдеров интернет и кабельного телевидения."/>
    <title>Единая Служба Технической Поддержки</title>
</head>

<template name="menu">

    {{#unless isConnected}}
        <div id="ohshit">Something went wrong. Please, wait...</div>
    {{/unless}}

    <div id="logo"><a href="/"><img src="/images/logo.gif"/></a></div>
    <div id="navigation">
        {{>menuUrl url="/price" description="Стоимость услуг"}}
        {{>menuUrl url="/service" description="Сервисный центр"}}
        {{>menuUrl url="/abuse" description="Работа с обращениями"}}
        {{>menuUrl url="/contacts" description="Контактная информация"}}
    </div>

    <hr/>
    {{>yield}}
    <div id="copywrong">
        {{>yandex.metrika}}
        {{>copywrong}}
    </div>
</template>

<template name="menuUrl">
    {{#if isCurrentUrl url}}
        <div>{{description}}</div>
    {{else}}
        <div><a href="{{url}}">{{description}}</a></div>
    {{/if}}
</template>