<template name="organization">
	<h1>Обслуживание юридических лиц.</h1>
    <p>Зачастую, юридическим лицам нецелесообразно иметь в&nbsp;штате своего системного адмиинистратора.</p>
    <p>С&nbsp;другой стороны, не&nbsp;все готовы доверять людям, выполняющим разовую работу.</p>
    <p>И&nbsp;именно поэтому мы&nbsp;готовы заключать договоры обслуживания с&nbsp;организациями, не&nbsp;безразличными к
        работоспособности своего компьютерного парка.</p>
    <p>Конечно, абонентская плата расчитывается индивидуально, исходя из&nbsp;ваших потребностей, но&nbsp;базовые расценки
        выглядят примерно так:</p>
    <ul>
        <li>500р в&nbsp;месяц за&nbsp;каждый из&nbsp;компьютеров, находящихся в&nbsp;обслуживании</li>
        <li>Профилактический визит 2&nbsp;раза в&nbsp;месяц</li>
        <li>Аварийные вызовы&nbsp;&mdash; по&nbsp;звонку</li>
    </ul>
</template>