<template name="price">
    <h1>Стоимость услуг</h1>

    <p>С нашими расценками Вы можете ознакомиться ниже, либо, при необходимости, вы можете <a
            href="#" class="makePdf">
        <nobr>скачать прайс-лист</nobr>
    </a>(doc, 30 kB) в электронном варианте.
    </p>
    <center>
        <table id="price">
            <tr>
                <th>
                    Наименование услуги
                </th>
                <th>
                    Стоимость
                </th>
            </tr>
            <tr>
                <td>
                    Вызов инженера, первичная диагностика
                </td>
                <td>
                    Согласно зонам обслуживания
                </td>
            </tr>
            <tr>
                <td>
                    Диагностика с использованием специального ПО и оборудования
                </td>
                <td>
                    От 500p
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Операционные системы и программы
                </th>
            </tr>
            <tr>
                <td>
                    Комплексная установка и настройка ОС<sup><a href="#01">1</a></sup>
                </td>
                <td>
                    от 2000р
                </td>
            </tr>
            <tr>
                <td>
                    Восстановление поврежденной ОС / обновление существующей ОС до актуального состояния
                </td>
                <td>
                    От 700р
                </td>
            </tr>
            <tr>
                <td>
                    Установка мессенджеров и программ для связи (Skype, ICQ, пр.) с действующей учетной записью /
                    без учетной записи, либо регистрация в социальных сетях<sup><a href="#02">2</a></sup>
                </td>
                <td>
                    200р / 300р
                </td>
            </tr>
            <tr>
                <td>
                    Установка программ для просмотра видео / прослушивания аудио (с комплектом кодеков)
                </td>
                <td>
                    300р
                </td>
            </tr>
            <tr>
                <td>
                    Установка комплектов кодеков
                </td>
                <td>
                    200р
                </td>
            </tr>
            <tr>
                <td>
                    Установка антивирусной программы (на 1 ПК)
                </td>
                <td>
                    300р
                </td>
            </tr>
            <tr>
                <td>
                    Установка пакета офисных программ<sup><a href="#03">3</a></sup>
                </td>
                <td>
                    500р
                </td>
            </tr>
            <tr>
                <td>Установка и настройка банк-клиент</td>
                <td>500р</td>
            </tr>
            <tr>
                <td>
                    Установка драйвера на одно устройство при наличии драйвера у заказчика / отсутствии драйвера у
                    заказчика с доступом в интернет / без доступа в интернет
                </td>
                <td>
                    150р / 250р / 350 р/час
                </td>
            </tr>
            <tr>
                <td>
                    Установка и обновление полного пакета драйверов на 1 ПК
                </td>
                <td>
                    800р
                </td>
            </tr>
            <tr>
                <td>
                    Установка игр<sup><a href="#04">4</a></sup>
                </td>
                <td>
                    500р
                </td>
            </tr>
            <tr>
                <td>
                    Установка иного ПО при наличии дистрибутива / дистрибутив отсутствует<sup><a
                        href="#05">5</a></sup>
                </td>
                <td>
                    250р / 500р
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Обслуживание и профилактика
                </th>
            </tr>
            <tr>
                <td>
                    Проверка и чистка вирусов<sup><a href="#06">6</a></sup>
                </td>
                <td>
                    600р
                </td>
            </tr>
            <tr>
                <td>
                    Чистка реестра
                </td>
                <td>
                    300р/час
                </td>
            </tr>
            <tr>
                <td>
                    Чистка и оптимизация ОС
                </td>
                <td>
                    От 500р
                </td>
            </tr>
            <tr>
                <td>
                    Восстановление поврежденных сетевых протоколов
                </td>
                <td>
                    400р
                </td>
            </tr>
            <tr>
                <td>
                    Чистка системного блока / ноутбука от пыли с заменой термопасты<sup><a href="#07">7</a></sup>
                </td>
                <td>
                    300р / от 800р
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Установка комплектующих, периферии и сетевого оборудования
                </th>
            </tr>
            <tr>
                <td>
                    Настройка маршрутизатора (роутера)
                </td>
                <td>
                    600р
                </td>
            </tr>
            <tr>
                <td>
                    Настройка маршрутизатора с обновлением прошивки
                </td>
                <td>
                    800р
                </td>
            </tr>
            <tr>
                <td>
                    Настройка маршрутизатора с нестандартной прошивкой<sup><a href="#08">8</a></sup>
                </td>
                <td>
                    1000р
                </td>
            </tr>
            <tr>
                <td>
                    Установка комплектующих (сетевые карты, видеокарты, звуковые карты, жесткие диски, приводы
                    оптических дисков) при наличии драйвера у заказчика / отсутствии драйвера у заказчика
                </td>
                <td>
                    300р / 400р
                </td>
            </tr>
            <tr>
                <td>
                    Подключение принтера / сканера / МФУ
                </td>
                <td>
                    От 300р
                </td>
            </tr>
            <tr>
                <td>
                    Установка сложной оргтехники
                </td>
                <td>
                    400р/час
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Работы по обслуживанию линий связи
                </th>
            </tr>
            <tr>
                <td>
                    Установка одной TV/RJ45 розетки в стену (при наличии подведенного кабеля и полного установочного
                    комплекта)
                </td>
                <td>
                    350р
                </td>
            </tr>
            <tr>
                <td>
                    Установка внешней розетки (при ее наличии)
                </td>
                <td>
                    200р
                </td>
            </tr>
            <tr>
                <td>
                    Монтаж СКС (без учета стоимости кабеля)
                </td>
                <td>
                    50р/м
                </td>
            </tr>
            <tr>
                <td>
                    Обжим кабеля
                </td>
                <td>
                    100р
                </td>
            </tr>
            <tr>
                <td>
                    Проектирование СКС
                </td>
                <td>
                    От 500р
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Прочие работы
                </th>
            </tr>
            <tr>
                <td>
                    Диагностика TV линии с помощью селективного вольтметра
                </td>
                <td>
                    300р / бесплатно<sup><a href="#09">9</a></sup>
                </td>
            </tr>
            <tr>
                <td>
                    Установка TV-усилителя / настраиваемого TV-усилителя<sup><a href="#10">10</a></sup>
                </td>
                <td>
                    500р / 800р
                </td>
            </tr>
            <tr>
                <td>
                    Установка TV-делителей (LV2, LV3)
                </td>
                <td>
                    300р
                </td>
            </tr>
            <tr>
                <td>
                    Установка TV-делителей (LV4 и выше)<sup><a href="#11">11</a></sup>
                </td>
                <td>
                    400р
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    На все виды работ предоставляется гарантия 30 календарных дней.<sup><a href="#12">12</a></sup>
                </th>
            </tr>
        </table>
    </center>
    <p><a id="01"></a><sup>1</sup>&nbsp;Операционная система устанавливается с&nbsp;<i>лицензионного дистрибутива,
        предоставляемого заказчиком</i>. При отсутствии такового, инженер может поставить ознакомительную версию ОС.
        В&nbsp;комплексную установку&nbsp;ОС входит установка веб-барузера, антивирусной программы, аудио и&nbsp;видео плеера и&nbsp;офисного пакета. ПО&nbsp;устанавливается
        с&nbsp;лицензионных дистрибутивов, предоставляемых заказчиком, либо устанавливаются пробные или
        ознакомительные версии программ. (OpenOffice&nbsp;/ LibreOffice и&nbsp;т.&nbsp;п.)</p>

    <p><a id="02"></a><sup>2</sup>&nbsp;При отсутствии учетной записи, инженер регистрирует необходимые учетные
        записи, исходя из&nbsp;слов заказчика. При утере регистрационных данных, гарантия на&nbsp;работы не&nbsp;распространяется.
    </p>

    <p><a id="03"></a><sup>3</sup>&nbsp;Пакет офисных программ ставится с&nbsp;<i>лицензионного дистрибутива,
        предоставляемого заказчиком</i>. В&nbsp;случае отсутствия такового, инженер устанавливает бесплатный офисный
        пакет (OpenOffice&nbsp;/ LibreOffice)</p>

    <p><a id="04"></a><sup>4</sup>&nbsp;Инженер производит установку <i>только лицензионных</i>, либо free-to-play&nbsp;/
        opensource&nbsp;/ shareware игр. Гарантия не&nbsp;распространяется.</p>

    <p><a id="05"></a><sup>5</sup>&nbsp;Инженер производит установку <i>только лицензионного</i>, либо oupensource&nbsp;/
        freeware ПО.</p>

    <p><a id="06"></a><sup>6</sup>&nbsp;Проверка и&nbsp;чистка вирусов выполняется утилитами на&nbsp;усмотрение
        инженера. Стоимость указана за&nbsp;1&nbsp;час работы, каждый последующий час оплачивается отдельно в&nbsp;размере
        200&nbsp;р/час. В&nbsp;случае отсутствия установленной антивирусной программы, ее&nbsp;установка
        оплачивается отдельно, согласно текущих расценок. При отказе от&nbsp;установки антивирусной программы
        гарантия не&nbsp;распространяется.</p>

    <p><a id="07"></a><sup>7</sup>&nbsp;Обслуживание вентиляторов системы охлаждения (с разбором и смазкой вентилятора)
        оплачивается отдельно, исходя из 150р/шт. Чистка производится только в&nbsp;сервисном центре (офисе) компании после проверки работоспособности устройства заказчика и&nbsp;занимает не&nbsp;менее одного рабочего дня с&nbsp;момента
        приема. При необходимости предоставляется расписка о&nbsp;приеме устройства на&nbsp;обслуживание. <i>Личные
            документы в&nbsp;залог не&nbsp;предоставляются</i>. При желании, заказчик может присутствовать при
        выполнении работ лично, с&nbsp;отдельной договоренностью по&nbsp;времени с&nbsp;инженером. Доставка
        заказчика до&nbsp;сервисного центра (офиса) и&nbsp;обратно в&nbsp;цену не&nbsp;входит.</p>

    <p><a id="08"></a><sup>8</sup>&nbsp;Обновление прошивки маршрутизатора производится <i>только на&nbsp;официальную
        стабильную (stable) прошивку</i>, предоставляемую фирмой-производителем. В&nbsp;случае, если маршрутизатор
        прошит сторонней прошивкой (DD-WRT, Open-WRT и&nbsp;т.&nbsp;п.) гарантия на&nbsp;настройку не&nbsp;распространяется,
        обновление прошивки не&nbsp;производится.</p>

    <p><a id="09"></a><sup>9</sup>&nbsp;В случае вызова инженера для установки TV-усилителя, диагностика TV-линии
        селективным вольтметром производится бесплатно.</p>

    <p><a id="10"></a><sup>10</sup>&nbsp;В установку и&nbsp;настройку TV-усилителей стоимость оборудования не&nbsp;входит.
        Оборудование либо предоставляется заказчиком, либо выкупается под копию чека инженером.</p>

    <p><a id="11"></a><sup>11</sup>&nbsp;При установке TV-делителя класса LV-4 и&nbsp;выше, с&nbsp;большой долей
        вероятности потребуется установка настраиваемого TV-усилителя</p>

    <p><a id="12"></a><sup>12</sup>&nbsp;Гарантия не&nbsp;распространяется в&nbsp;случаях, описанных выше. На&nbsp;проверку
        и&nbsp;чистку вирусов распространяется гарантия не&nbsp;более 14&nbsp;календарных дней.</p>
</template>