<template name="service">
    <div id="content">
        <h1>Сервисный центр</h1>

        <p>Мы предоставляем услуги сервисного центра и&nbsp;ремонта настольных и&nbsp;планшетных&nbsp;ПК, ноутбуков и&nbsp;сотовых
            телефонов.</p>

        <p>Все работы, связанные с&nbsp;ремонтом и&nbsp;апгрейдом, преимущественно проводятся в&nbsp;сервисном центре,
            расположенном по&nbsp;адресу&nbsp;г. Новосибирск,
        <nobr><a href="http://maps.yandex.ru/-/CVvv44ZN">проезд Садовый, 53</a></nobr>
        .</p>
        <p>На&nbsp;все работы, связанные с&nbsp;сервисным обслуживанием, распространяется <a href="./price.html">прайс-лист</a>,
            но&nbsp;стоимость комплектующих (при необходимости), оплачивается отдельно.</p>

        <p>Наши инженеры помогут Вам выбрать необходимые запчасти, при необходимости&nbsp;&mdash; заказать&nbsp;их,
            приобрести и&nbsp;установить.</p>

        <p>При желании, Вы можете лично поучаствовать в процессе поиска, заказа или установки комплектующих. Для этого
            Вам потребуется согласовать по времени визит в сервисный центр, и инженер проведет работы непосредственно в
            Вашем присутствии.</p>

        <p>Работы, связанные с&nbsp;сервисным обслуживанием, занимают дополнительное время (не&nbsp;менее одного
            рабочего дня), соответственно, оплачиваются дополнительно к&nbsp;основному прайсу: поиск и&nbsp;заказ
            комплектующих: 50&nbsp;руб/шт.</p>

        <h2>Порядок выбора комплектующих</h2>
        <ul>
            <li>В&nbsp;первую очередь наши инженеры пытаются найти оригинальные запчасти на&nbsp;Ваше устройство;</li>
            <li>Если устройство снято с&nbsp;производства, либо оригинальные запчасти очень редки&nbsp;&mdash; инженер
                будет подбирать аналоги или дубли;
            </li>
            <li>В&nbsp;последнюю очередь, если предыдущие пункты не&nbsp;принесли результата, либо оказались чересчур
                дорогостоящими, инженер предложит Вам бывшие в&nbsp;употреблении комплектующие, заказанные с&nbsp;проверенных
                площадок, дающих гарантию работоспособности.
            </li>
        </ul>
        <h2>Порядок оплаты заказанных комплектующих</h2>
        <ul>
            <li>Комплектующие приобретаются только после согласования с&nbsp;заказчиком;</li>
            <li>Заказ производится по&nbsp;100% предоплате;</li>
            <li>Сроки доставки заказа обсуждаются отдельно.</li>
        </ul>
        <h2>Гарантийные обязательства</h2>

        <p>На&nbsp;работы, связанные с&nbsp;установкой новых комплектующих&nbsp;&mdash; гарантия на&nbsp;работы
            составляет 30&nbsp;дней, гарантия на&nbsp;комплектующие регламентируется согласно гарантийному талону и&nbsp;осуществляется
            при его наличии фирмой-производиетелеми.</p>

        <p>На&nbsp;работы, связанные с&nbsp;установкой бывших в&nbsp;употреблении комплектующих&nbsp;&mdash; гарантия на&nbsp;работы
            составляет 30&nbsp;дней, гарантия на&nbsp;комплектующие со&nbsp;стороны ЕСТП не&nbsp;предоставляется.</p>
    </div>
</template>