<template name="splash">
    <div id="content">
        <h2>Login please </h2>

        <form name="login" method="post" action="http://192.168.1.1:5280/">
            <div align="center">
                <input type="hidden" name="accept_terms" value="yes"/> <input type="hidden" name="redirect"
                                                                              value="http://yoursite.com">
                <input type="hidden" name="mode_login">
                <input type="submit" value="enter">
            </div>
        </form>
    </div>
</template>